html{
     box-sizing: border-box;
}

*, *:after, *:before{
     box-sizing: inherit;
     margin: 0;
     padding: 0;
}

img{
     width: 100%;
}

body{
     font-family: 'Arial';
}

.card{
     background-color: steelblue;
     width: 350px;
     height: 450px;
     color: white;
     padding: 20px;
     margin: 20px auto;
     text-align: center;
     box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.img{
     display: block;
     width: 200px;
     height: 200px;
     margin: 20px auto;
     color: white;
     object-fit: cover;
     border-radius: 50%;
}


.titulo{
     padding-bottom: inherit;
}

.parrafo{
     font-style: italic;
}